{% extends 'index.html' %}

{% block content %}
<div class="col-md-12 card-body">

<!--<h1>Please Enter Login Details</h1>-->
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-block">Change Password</button></div>
</form>
</div>

{% endblock %}