{% extends 'index.html' %}

{% block content %}
<div class="col-md-12 card-body" style="text-align:center">

<h1 style="color:green">Password Successfully Changed</h1>

</div>

{% endblock %}